<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	Paso2: se registran los SQL que se van a usar 
	en la capa de datos
	
	El SQL que se escribe no es un SQL puro,
	el que se envia directamente la BD, sino que
	sufre algunos cambios
	
	id : es el nombre con que se va llamar al SQL
	resultType: tipo de dato de salida del método en el dao
	paramType: tipo de dato de entrada del método en el dao
	
	#{XXXXXX}: XXXXXX es un atributo del bean
 -->
<mapper namespace="obligacionMapper">

    <insert id="idInsertaObligacion"
            useGeneratedKeys="true"
            keyProperty="idObligacion"
            parameterType="obligacionBeanIbatis">
    INSERT INTO OBLIGACION
    VALUES(NULL, #{fechaRegistroObligacion}, #{numeroCuotasObligacion},#{socio.idSocio},#{usuario.idUsuario}, #{producto.idProducto})
    </insert>

    <insert id="idInsertaCuota" parameterType="cuotaBeanIbatis">
        INSERT INTO CUOTA
        VALUES(NULL, #{fechaPagoCuota}, #{montoCuota},#{capitalCuota},#{interesCuota}, #{estadoCuota}, #{obligacion.idObligacion})
    </insert>

    <select id="idSelectTodosObligacion" resultMap="idSelectTodosObligacionMap">
        SELECT O.*, S.*, U.*, P.*
        FROM OBLIGACION AS O INNER JOIN SOCIO AS S
        ON O.idSocio = S.idSocio INNER JOIN USUARIO AS U
        ON O.idUsuario = U.idUsuario INNER JOIN PRODUCTO AS P
        ON O.idProducto = P.idProducto
    </select>
    <resultMap id="idSelectTodosObligacionMap" type="obligacionBeanIbatis">
        <id column="idObligacion" property="idObligacion"/>
        <id column="fechaRegistroObligacion" property="fechaRegistroObligacion"/>
        <id column="numeroCuotasObligacion" property="numeroCuotasObligacion"/>
        <association property="socio" resultMap="socioMapper.idSelectTodosSocioMap"/>
        <association property="usuario" resultMap="usuarioMapper.idSelectTodosUsuarioMap"/>
        <association property="producto" resultMap="productoMapper.idSelectTodosProductoMap"/>
    </resultMap>

</mapper>








