<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	Paso2: se registran los SQL que se van a usar 
	en la capa de datos
	
	El SQL que se escribe no es un SQL puro,
	el que se envia directamente la BD, sino que
	sufre algunos cambios
	
	id : es el nombre con que se va llamar al SQL
	resultType: tipo de dato de salida del método en el dao
	paramType: tipo de dato de entrada del método en el dao
	
	#{XXXXXX}: XXXXXX es un atributo del bean
 -->
<mapper namespace="socioMapper">

    <insert id="idInsertaSocio" parameterType="socioBeanIbatis">
        INSERT INTO SOCIO
        VALUES(NULL, #{imagenSocioBase64}, #{nombreSocio}, #{apellidoSocio}, #{DNISocio}, #{fechaNacimientoSocio},
        #{sexoSocio}, #{estadoCivilSocio}, #{nombreConyugeSocio}, #{apellidoConyugeSocio}, #{departamentoNacimientoSocio},
         #{provinciaNacimientoSocio}, #{distritoNacimientoSocio}, #{departamentoResidenciaSocio}, #{provinciaResidenciaSocio},
         #{distritoResidenciaSocio}, #{direccionResidenciaSocio}, #{telefonoFijoSocio},#{telefonoMovilSocio},#{emailSocio},
        #{passwordSocio}, #{fechaRegistroSocio}, #{imagenFirmaSocio},#{imagenHuellaSocio},#{usuario.idUsuario})
    </insert>

    <select id="idSelectTodosSocio" resultMap="idSelectTodosSocioMap">
        SELECT S.*, U.*, P.*  FROM SOCIO AS S INNER JOIN USUARIO AS U
        ON S.idUsuario = U.idUsuario INNER JOIN PERFIL AS P
        ON U.idPerfil = P.idPerfil
    </select>

    <delete id="idDeleteSocio" parameterType="int">
      DELETE FROM SOCIO WHERE idSocio = #{idSocio}
    </delete>

    <update id="idUpdateSocio" parameterType="socioBeanIbatis">
        UPDATE SOCIO SET
        nombreSocio = #{nombreSocio},
        apellidoSocio = #{apellidoSocio},
        DNISocio = #{DNISocio},
        fechaNacimientoSocio = #{fechaNacimientoSocio},
        sexoSocio = #{sexoSocio},
        estadoCivilSocio = #{estadoCivilSocio},
        nombreConyugeSocio = #{nombreConyugeSocio},
        apellidoConyugeSocio = #{apellidoConyugeSocio},
        departamentoNacimientoSocio = #{departamentoNacimientoSocio},
        provinciaResidenciaSocio = #{provinciaResidenciaSocio},
        distritoResidenciaSocio = #{distritoResidenciaSocio},
        direccionResidenciaSocio = #{direccionResidenciaSocio},
        telefonoFijoSocio = #{telefonoFijoSocio},
        telefonoMovilSocio = #{telefonoMovilSocio},
        emailSocio = #{emailSocio},
        passwordSocio = #{passwordSocio}
        WHERE idSocio = #{idSocio}
    </update>

    <resultMap id="idSelectTodosSocioMap" type="socioBeanIbatis">
        <id column="idSocio" property="idSocio"/>
        <id column="imagenSocioBase64" property="imagenSocioBase64"/>
        <id column="nombreSocio" property="nombreSocio"/>
        <id column="apellidoSocio" property="apellidoSocio"/>
        <id column="DNISocio" property="DNISocio"/>
        <id column="fechaNacimientoSocio" property="fechaNacimientoSocio"/>
        <id column="sexoSocio" property="sexoSocio"/>
        <id column="estadoCivilSocio" property="estadoCivilSocio"/>
        <id column="nombreConyugeSocio" property="nombreConyugeSocio"/>
        <id column="apellidoConyugeSocio" property="apellidoConyugeSocio"/>
        <id column="departamentoNacimientoSocio" property="departamentoNacimientoSocio"/>
        <id column="provinciaResidenciaSocio" property="provinciaResidenciaSocio"/>
        <id column="distritoResidenciaSocio" property="distritoResidenciaSocio"/>
        <id column="direccionResidenciaSocio" property="direccionResidenciaSocio"/>
        <id column="telefonoFijoSocio" property="telefonoFijoSocio"/>
        <id column="telefonoMovilSocio" property="telefonoMovilSocio"/>
        <id column="emailSocio" property="emailSocio"/>
        <id column="passwordSocio" property="passwordSocio"/>
        <id column="fechaRegistroSocio" property="fechaRegistroSocio"/>
        <id column="imagenFirmaSocio" property="imagenFirmaSocio"/>
        <id column="imagenHuellaSocio" property="imagenHuellaSocio"/>
        <association property="usuario" resultSet="idSelectTodosUsuarioMap"/>
    </resultMap>

    <resultMap id="idSelectTodosUsuarioMap" type="usuarioBeanIbatis">
        <id column="idUsuario" property="idUsuario"/>
        <id column="nombreUsuario" property="nombreUsuario"/>
        <id column="apellidoUsuario" property="apellidoUsuario"/>
        <id column="fechaRegistroUsuario" property="fechaRegistroUsuario"/>
        <id column="emailUsuario" property="emailUsuario"/>
        <id column="passwordUsuario" property="passwordUsuario"/>
        <id column="imagenUsuario" property="imagenUsuario"/>
        <id column="imagenUsuarioBase64" property="imagenUsuarioBase64"/>
        <association property="perfilUsuario" resultMap="idSelectTodosPerfilMap"/>
    </resultMap>


    <resultMap id="idSelectTodosPerfilMap" type="perfilBeanIbatis">
        <id column="idPerfil" property="idPerfil"/>
        <id column="nombrePerfil" property="nombrePerfil"/>
        <id column="descripcionPerfil" property="descripcionPerfil"/>
    </resultMap>
</mapper>








